
.login-box {
  height: 500px;
  width: 700px;
  margin:100px auto !important;
  background: #fff;
  border-bottom-right-radius: 100px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.product-box {

  height: 600px;
  width: 1000px;
  margin:50px auto !important;
  background: #fff;
  border-bottom-right-radius: 100px;
  text-align:center;
  padding: 5px;
}
.product-box .items{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.product-box .items .item{
  position: relative;
  width: 300px; 
  background: #e02a24;
  margin: 30px 0;
  padding: 20px;
  text-align: left;
  height: 200px;
}
.product-box .items .item h5{
  color: #fff;
  font-size: 19px;

}
.product-box .items .item p{
  color: rgb(221, 194, 194);
font-size: 13px;

}
.lo-img-box{
  width: 50%;
}
.lo-img-box .lo-img{
  margin-top: 80px;
  width: 90%;
}
.form-box{
  width: 50%;
  position: relative;
}
.sign-in-text{
  width: 100px;
  margin-top: 30px;
  margin-bottom:20px;
  margin-left: -5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(to bottom, #162b3d, #243c52);
  font-family: Barlow;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tbtn{
  margin-top: 30px;
  margin-left: 50px;
  outline: none;
  border: none; 
  background: #e02a24;
  width: 50%;
  color:#fff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 10px;
}

.tbtn:focus{
  border:none;
  outline: none;
  transition: 0.5s ease;
}

.form-c{
  padding: 10px;
  width: 80%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 15px;
  outline: none;
  border : 1px solid #e02a24;
  margin-top: 10px;
  margin-bottom: 15px;
}
#passt1{
  position: absolute;
  left: 100%;
  
  bottom: 210px;
  transition: 0.5s ease;
}
#passt{
position: absolute;
left: 100%;

bottom: 140px;
transition: 0.5s ease;
}
.form-s{
  position: absolute;
  bottom: 70px;
  left: 0;
  margin-top: 10px;
  outline: none;
  border: none; 
  background: #e02a24;
  width: 50%;
  color:#fff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 10px;
  transition: 0.5s ease;
}
.ibtn{
  position: absolute;
  bottom: 10px;
  left: 0;
  margin-top: 10px;
  outline: none;
  border: none; 
  background: #243c52;
  width: 50%;
  color:#fff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 20px;
  transition: 0.5s ease;
}
.ibtn:focus{
  border:none;
  outline: none;
  background: #162b3d;
  transition: 0.5s ease;
}

.scr{
  left:0;
}
.form-c:focus{
  border : 1px solid #162b3d;
  transition: 0.5s ease;
}
.form-s:focus{
  border:none;
  outline: none;
  background: #162b3d;
  transition: 0.5s ease;
}
.scrt{
  bottom: 150px;
}
.form-c1{
  padding: 10px;
  width: 80%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 15px;
  outline: none;
  border : 1px solid #e02a24;
  margin-top: 10px;
  margin-bottom: 15px;
}
.form-s1{
  margin-top: 10px;
  outline: none;
  border: none; 
  background: #e02a24;
  width: 50%;
  color:#fff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 10px;
  transition: 0.5s ease;
}
.form-c1:focus{
  border : 1px solid #162b3d;
  transition: 0.5s ease;
}
.form-s1:focus{
  border:none;
  outline: none;
  background: #162b3d;
  transition: 0.5s ease;
}
.icons{
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 110px;

}
.form-s2{
  margin-top: 10px;
  outline: none;
  border: none; 
  background: #e02a24;
  width: 100px;;
  color:#fff;
  padding: 10px;
  border-top-left-radius: 5px;border-radius: 150px;
  transition: 0.5s ease;
}

.form-s2:focus{
  border:none;
  outline: none;
  background: #162b3d;
  transition: 0.5s ease;
}

.bg{
  position: relative;
  background: #fff;
  height: 200px;
  width: 300px;
}

.dlist{
  margin-top: 50px;
  width: 720px;
  list-style: none;
  
}
.dname{
  width: 100px;
}
.dlist li {
  margin: 10px;
  border: 1px solid  #e02a24;
  padding: 10px;
  border-bottom-right-radius:10px;
  width: 100%;
  color: #243c52;
  display: flex;
  justify-content: space-evenly;
}
.ibt{
  margin-top: 10px;
  margin: 0 20px;
  outline: none;
  border: none; 
  background: #243c52;
  color:#fff;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: 0.5s ease;
}
.ibt:focus{
  border:none;
  outline: none;
  background: #162b3d;
  transition: 0.5s ease;
}
#food-o{
  width: 100px;
  padding: 5px;;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 15px;
  outline: none;
  border : 1px solid #e02a24;
}
.iul{
  list-style: none;
  width: 60%;
  margin: 0 auto;
}
.iul li {
  width: 85%;
  background: #fff;
  padding: 20px;
  margin: 10px;
}
.alertBox{
  margin: 30px auto;
  text-align: center;
  padding: 80px 20px;
  background: #fff;
  width: 550px;
  height: 200px;
}
.listofi{
  display: flex;
  justify-content: space-around;
  align-items: left;
}
.listofi  p{
  margin-top: 20px;
}
.edit{
  background: green;

}
.delete{
  background: red;
}
.searchBox{
  margin: 30px;
  width: 40%;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.ColorBox{
  position: absolute;
  display :flex;
  width: 500px;
  margin-top: 40px;
  top: 260%;
}
.ColorBox .colorbtn{
  margin: 0 20px;
  outline: none;
  border: none; 
  color:#fff;
  padding: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: 0.5s ease;
}
.ColorBox .c1 {
  background: #162b3d;
} 
.ColorBox .c2 {
  background: #e02a24;
}
.ColorBox .c3 {
  background: #0f70c5;
}




/* media query her/ */


@media (max-width: 600px) {
  .login-box {
    height: 550px;
    width: 90vw;
    margin:30px auto !important;
    background: #fff;
    border-bottom-right-radius: 100px;
    display: flex;
    flex-wrap:wrap;
  }

  .product-box {
    height: auto;
    width: 90vw;
  }
  .product-box .items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .product-box .items .item{
    position: relative;
    width: 300px; 
    background: #e02a24;
    margin: 30px 0;
    padding: 20px;
    text-align: left;
    height: 200px;
  }
  .product-box .items .item h5{
    color: #fff;
    font-size: 19px;
  
  }
  .product-box .items .item p{
    color: rgb(221, 194, 194);
  font-size: 13px;
  
  }
  .lo-img-box{
    width: 100%;
    height: 50px;
  }
  .lo-img-box .lo-img{
    display: none;
  }
  .form-box{
    width: 80%;
    margin-top:-80px;
  }
  .sign-in-text{
    width: 100px;
    margin-top: 5px;
    margin-bottom:20px;
    margin-left: -5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
    background-image: linear-gradient(to bottom, #162b3d, #243c52);
    font-family: Barlow;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .tbtn{
    margin-top: 30px;
    margin-left: 50px;
    outline: none;
    border: none; 
    background: #e02a24;
    width: 50%;
    color:#fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 10px;
  }
  
  .tbtn:focus{
    border:none;
    outline: none;
    transition: 0.5s ease;
  }
  
  .form-c{
    padding: 10px;
    width: 80%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 15px;
    outline: none;
    border : 1px solid #e02a24;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  #passt1{
    position: absolute;
    left: 100%;
    
    bottom: 210px;
    transition: 0.5s ease;
  }
  #passt{
  position: absolute;
  left: 100%;
  
  bottom: 140px;
  transition: 0.5s ease;
  }
  .form-s{
    bottom: 50px;
  }
  .ibtn{
    position: absolute;
    bottom: 10px;
    left: 0;
    margin-top: 10px;
    outline: none;
    border: none; 
    background: #243c52;
    width: 50%;
    color:#fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 20px;
    transition: 0.5s ease;
  }
  .ibtn:focus{
    border:none;
    outline: none;
    background: #162b3d;
    transition: 0.5s ease;
  }
  
  .scr{
    left:0;
  }
  .form-c:focus{
    border : 1px solid #162b3d;
    transition: 0.5s ease;
  }
  .form-s:focus{
    border:none;
    outline: none;
    background: #162b3d;
    transition: 0.5s ease;
  }
  .scrt{
    bottom: 100px;
  }
  .form-c1{
    padding: 10px;
    width: 80%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 15px;
    outline: none;
    border : 1px solid #e02a24;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .form-s1{
    margin-top: 10px;
    outline: none;
    border: none; 
    background: #e02a24;
    width: 50%;
    color:#fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 10px;
    transition: 0.5s ease;
  }
  .form-c1:focus{
    border : 1px solid #162b3d;
    transition: 0.5s ease;
  }
  .form-s1:focus{
    border:none;
    outline: none;
    background: #162b3d;
    transition: 0.5s ease;
  }
  .icons{
    position: fixed;
    z-index: 500;
    bottom: 50px;
    right: 20px;
    width: 110px;
  
  }
  .form-s2{
    margin-top: 10px;
    outline: none;
    font-size: 10px;;
    border: none; 
    background: #0f70c5;
    width: 70px;;
    color:#fff;
    padding: 10px;
    border-top-left-radius: 5px;border-radius: 150px;
    transition: 0.5s ease;
  }
  
  .form-s2:focus{
    border:none;
    outline: none;
    background: #162b3d;
    transition: 0.5s ease;
  }
  
  .bg{
    position: relative;
    background: #fff;
    height: 200px;
    width: 300px;
  }
  
  .dlist{
    margin-top: 10px;
    width: 290px;
    list-style: none;
    padding:0;
    
  }
  .dname{
    width: 30px;
    font-size: 12px;
    margin: 0 10px;

  }
  .dlist li {
    margin: 3px;
    border: 1px solid  #e02a24;
    padding: 10px;
    border-bottom-right-radius:10px;
    width: 100%;
    color: #243c52;
    display: flex;
    justify-content: start;
    align-items: left;
  }
  .ibt{
    margin-top: 10px;
    margin: 0 5px;
    outline: none;
    border: none; 
    background: #243c52;
    color:#fff;
    padding: 10px;
    height: 30px;
    font-size: 10px;;
    width: 30px;
    border-radius: 50%;
    transition: 0.5s ease;
  }
  .ibt:focus{
    border:none;
    outline: none;
    background: #162b3d;
    transition: 0.5s ease;
  }
  #food-o{
    width: 100px;
    padding: 5px;;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 15px;
    outline: none;
    border : 1px solid #e02a24;
  }
  .iul{
    list-style: none;
    width: 100%;
    margin: 0 auto;
  }
  .iul li {
    width: 85%;
    background: #fff;
    padding: 20px;
    margin: 10px;
  }
  .alertBox{
    margin: 30px auto;
    text-align: center;
    padding: 80px 20px;
    background: #fff;
    width: 250px;
    height: 200px;
  }
  .listofi{
    display: flex;
    justify-content:center;
  }
  .sumdes1{
    font-size: 15px;
  }
  .sumdes{
    margin-top: 10px;
    font-size: 10px;
  }
  .listofi  p{
    margin-top: 20px;
    font-size: 10px;
    width:100%
  }
  .searchBox{
    margin: 30px;
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .ColorBox{
    position: absolute;
    display :flex;
    width: 300px;
    margin-top: 30px;
    top: 230%;
  }
  .ColorBox .colorbtn{
    margin: 0 20px;
    outline: none;
    border: none; 
    color:#fff;
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: 0.5s ease;
  }
  .ColorBox .c1 {
    background: #162b3d;
  } 
  .ColorBox .c2 {
    background: #e02a24;
  }
  .ColorBox .c3 {
    background: #0f70c5;
  }
  .edit{
    background: green;
  
  }
  .delete{
    background: red;
  }
}